body,
html {
  height: 100%;
  margin: 0;
  font-family: "Lato", sans-serif;
}

.container {
  display: flex;
  height: 100vh;
}

.left {
  display: flex;
  align-content: flex-start;
  background-color: #12131a;
  width: 40%;
}

.right {
  display: flex;
  width: 60%;
  justify-content: center;
}

.formContainer {
  display: flex;
  width: 70%;
  justify-content: center;
  height: 80vh;
  flex-direction: column;
}

form {
  width: 100%;
  margin: 0 auto;
  justify-content: center;
}

input {
  border-color: #274c77;
  border-style: solid;
  border-width: 2px;
  border-radius: 4px;
  font-size: 20px;
  width: 98%;
  height: 50px;
  margin-top: 7px;
  margin-bottom: 7px;
  padding-left: 10px;
}

.lineContainer {
  display: flex;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.line {
  flex-grow: 1;
  height: 1px;
  background-color: #929292;
}

.word {
  margin: 0 7px;
  color: #929292;
}
