body {
    font-family: "Inter";
}

.partition {
    padding-left: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;  
}

.directory {
    display: flex;
    flex-direction: row;
    padding-top: 2%;
    color: #2b5b87;
}

.subHeading {
    padding-top: 20px;
    font-size: large;
}

.container {
    padding-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
