.folder {
    min-width: 270px;
    height: 60px;
    margin: 0 20px 20px 0;
    border-radius: 10px; 
    background-color: #F0F4F9;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.folderInfo {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: medium;
    margin-left: 22px;
}

.folderInfo * {
    margin-right: 20px;
}

.folder button {
    height: 60%;
    margin-right: 15px;
    background-color: transparent;
    border: none;
    border-radius: 50%;
}


.folder button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}