img {
  height: 35px;
}

.navbar {
  background-color: white;
  line-height: 26px;
  box-shadow: 0 4px 6px -6px gray;
  font-family: "Inter", sans-serif;

  padding-top: 15px;
  padding-bottom: 15px;
  align-items: center;
  justify-content: center;

  position: sticky;
  top: 0;
  padding-left: 40px;
  padding-right: 40px;
  z-index: 100;
}

#navLink {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 17px;
  font-family: "Inter", sans-serif;
  text-decoration: none;
  color: #191919;
}

#navLink:hover {
  color: #6096ba;
}

#btn {
  color: #274c77;
  background-color: transparent;
  border-color: #274c77;
}

/* Hover state */
#btn:hover {
  color: white;
  background-color: #274c77;
  border-color: #274c77;
}
