body {
    font-family: "Inter";
}

#addFile {
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 200px;
    height: 80px;
    padding: 0 20px 0 20px;
    border: none;
    border-radius: 20px; 
    box-shadow: 0 2px 1px 3px rgba(0, 0, 0, 0.1);
    background-color: #FFFFFF;
    font-size: x-large;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#addFile:hover {
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 5px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

#addFile p {
    margin: 0;
}

.partition {
    padding-left: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;  
}

.heading {
    padding-top: 2%;
    color: #2b5b87;
}

.container {
    padding-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.course {
    min-width: 270px;
    height: 220px;
    margin: 0 20px 20px 0;
    border-radius: 10px; 
    box-shadow: 0 5px 5px 1px rgba(0, 0, 0, 0.1);
    background-color: #FFFFFF;
    position: relative;
}

.course:hover {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

#cmsc{
    background-color: #12131A;
}

#math{ 
    background-color: #6096BA;
}

#stat{
    background-color: #A3CEF1;
}

#others{
    background-color: #4D699B;
}
.courseImg {
    border-radius: 10px 10px 0 0;
    height: 65%;
}

.courseDetails {
    border-radius: 0 0 10px 10px; 
    height: 35%;
    font-size: medium;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.courseInfo {
    margin-left: 22px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.courseDetails p{
    margin: 0;
}

.courseTitle {
    font-size: medium;
}

.courseDate {
    font-size: small;
    color: #767676;
}

.courseMore {
    /* height: 40%;
    margin-right: 15px; */
    position: absolute;
    bottom: 30px;
    right: 15px;
    background-color: transparent;
    border: none;
    border-radius: 50%;
}

.courseMore:hover {
    background-color: rgba(0, 0, 0, 0.1);
}