.container {
  font-family: "Inter";
}

.pageTitle {
  padding: 2% 5%;
  padding-bottom: 0%;
}

.h4 {
  color: #2b5b87;
}

.reqContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;

  /* background-color: aqua; */
}

span {
  font-size: 14px;
}

.buttons {
  display: flex;
  gap: 7px;
  flex-direction: column;
  /* background-color: pink; */
}
